{% extends "SandraOrozcoApp/base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'SandraOrozcoApp/lib/main.css' %}"/>
{% endblock extra_css %}
{% block content %}
{% if messages %}
  {% if m.is_error %}
    <div class="alert alert-danger">
      {% for m in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
      {% endfor %}
    </div>      
        
  {% else %}
    <div class="alert alert-success">
      {% for m in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
      {% endfor %}
    </div>   
  {% endif %}
    
  
{% endif %}

<div class="modal fade" id="eventoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Evento</h5>
        </div>
        <div class="modal-body">
          
          <form action="" method="POST">
              {% csrf_token %}
              <table>
                    {{ form.as_table }}
              </table>
              <input type="submit" id="agregar" value="Guardar"class="btn btn-secondary"></input>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id='calendar'></div>
{% endblock %}

{% block extra_js %} 
  <script src="{% static 'SandraOrozcoApp/lib/main.js' %}"></script>
  <script>

    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      
      headerToolbar:{
        rigth: 'prev,next',
        center: 'title',
        left: 'dayGridMonth,dayGridWeek,dayGridDay'
      },
      dateClick: function(info) {
          $('#eventoModal').modal('toggle');
          $('#id_fecha').val(info.dateStr);
      },
      events:[
        {% for evento in object_list %}
            {
              title: "{{ evento.nombre }}",
              start:"{{ evento.start }}"+" "+ "{{ evento.horaInicio }}",
              end: "{{ evento.end }}" +" "+ "{{ evento.horaFinal }}",
              descripcion: "{{ evento.email }}",
              celular: "{{ evento.celular }}"
            },
        {% endfor %}
          ]
    });
    calendar.render();
    calendar.setOption('locales','es');
  });
</script>
{% endblock extra_js %}